---
---

<div id="container">Welcome</div>

<style></style>

<script>
  const urlHost = window.location.host;
  const isLocalhost = urlHost && urlHost.includes("localhost");
  if (!isLocalhost) {
    window.location.href = "/maintance";
  }
</script>