---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>Page</div>
</BaseLayout>

<script>
  const urlHost = window.location.host;
  const isLocalhost = urlHost && urlHost.includes("localhost");
  if (!isLocalhost) {
    window.location.href = "/maintance";
  }
</script>

